{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
<body>
    <header>
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">{{ app_name }}</a>
            </div>
          </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-4 mb-2">Add your Todo Here!</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <form class="row g-3 justify-content-center" action="add_todo/" method="POST">
                    {% csrf_token z%}
                    <div class="col-auto">
                        {{ form.todo_text}}
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="mx-2 btn btn-primary">Submit</button>
                    </div>   
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 table-responsive">                
                <table class="table">
                    <tbody>
                        {% for todo in todo_list %}
                        <tr>
                            <td>
                                <p> {{ todo.todo_text }}</p>
                                <p class="text-muted"><small>Added on: {{ todo.added_on }}</small></p>
                                <p class="text-muted"><small>Updated on: {{ todo.updated_on }}</small></p>
                            </td>
                            <div class="nav justify-content-end">
                                <td><button type="submit" class="mx-2 btn btn-danger">DELETE</button></td>
                                <td><button type="submit" class="mx-2 btn btn-info">EDIT</button></td>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>